/* Created by Artisteer v4.0.0.58475 */

.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.t3d-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.t3d-header
{
   z-index: 1;
}

.t3d-hmenu>li, .t3d-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.t3d-hmenu, ul.t3d-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
ul.t3d-hmenu>li:first-child {
   padding-right:0;
}

ul.t3d-hmenu ul{
   background-color: #ECE6D5 !important;
}

.t3d-content-layout, .t3d-content-layout-row, .t3d-layout-cell 
{
   display: block;
   zoom: 1;
}
.t3d-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.t3d-vmenu, ul.t3d-vmenu ul, ul.t3d-vmenu li{
   zoom: 1;
}

ul.t3d-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.t3d-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.t3d-search div>input[type="text"]
{
   width: 100%;
}

* html form.t3d-search>input[type="text"] 
{
   margin :0;
}

.t3d-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.t3d-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='t3d-sidebar1-bg' + (className.indexOf('t3d-sidebar1-fix') == -1 ? '' : ' t3d-sidebar1-bg-fix' ));
}

.t3d-sidebar1-bg 
{
   border-right:4px solid #000000;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 200px;
   overflow:hidden;
   display:block;
   background-color: #EBEBEB;
}

.t3d-sidebar2 
{
   width: auto;
   float:none;
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='t3d-sidebar2-bg' + (className.indexOf('t3d-sidebar2-fix') == -1 ? '' : ' t3d-sidebar2-bg-fix' ));
}

.t3d-sidebar2-bg 
{
   border-left:4px solid #000000;
   position:absolute;
   z-index:-2;
   direction: ltr;
   right:  0;
   bottom:0;
   top:0;
   width: 200px;
   overflow:hidden;
   display:block;
   background-color: #EBEBEB;
}

